* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    background: url("/images/91926kpadCj5wmmJ4G2MRGg8m6.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

main {
    padding-top: 150px;
}

footer {
    height: 100px;
    background-color: #37474f;
    
}

footer p {
    text-align: center;
    font-size: 18px;
    color: white;
    padding-top: 20px;
}

.main-header {
    color: #FFFFFF;
    font-size: 60px;
    margin-bottom: 40px;
    text-shadow: 3px 3px 15px black;
}

.main-header i {
    font-size: 60px;
    margin-right: 15px;
    color: #FFFFFF;
}

.hidden {
    opacity: 0;
    display: none;
}

.blur {
    filter: blur(5px);
    transition: all 0.5s;
}

.row-center {
    justify-content: center;
}

.col-center {
    max-width: 50%;
}

.col-center-t {
    max-width: 50%;
    text-align: center;
}

.empire {
    height: 93%;
    width: 400px;
    background-color: #37474f;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
}

.empire h3 {
    color: white;
    text-shadow: 2px 2px black;
}

.empire p {
    color: white;
    font-size: 8px;
    text-shadow: 2px 2px black;
}

.empire-picture {
    width: 80px;
    height: 80px;
    padding-top: 10px;
}

.e-stats {
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

.e-stats-2 {
    margin-top: 25px;
}

.empire-titles {
    margin-top: 5px;
    margin-bottom: 5px;
}

.empire-item {
}

.empire-btn {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.empire-btn-2 {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.empire-btn-2:hover {
    background-color: #37474f;
    color: white;
    border: 2px solid white;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
    cursor: pointer;
}

.empire-btn:hover {
    background-color: #37474f;
    color: white;
    border: 2px solid white;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
    cursor: pointer;
}


/* GAME CSS */



#buypanel-description {
    margin-top: 10px;
    margin-bottom: 75px;
}

#buypanel-description-2 {
    margin-top: 10px;
    margin-bottom: 50px;
}

.buypanel-cost {
    text-align: center;
    width: 100%;
}

.buypanel-amount {
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
}

.game-content {
    background-color: #FFFFFF;
}

.game-content h1 {
    margin: 0;
    font-size: 40px;
    text-align: center;
}

.gameNav {
    text-align: center;
}

.gameNav a {
    color: white;
    background: #5b7882; /* Old browsers */
    background: -moz-linear-gradient(top, #5b7882 3%, #37474f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5b7882 3%,#37474f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #5b7882 3%,#37474f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b7882', endColorstr='#37474f',GradientType=0 ); /* IE6-9 */
    font-size: 18px;
    padding-right: 25px;
    padding-left: 25px;
    border: 2px solid #37474f;
    border-bottom: 0;
    text-align: center;
    height: 50px;
    text-decoration: none;
    transition: background 0.4s, background-color 0.4s;
    font-weight: bold;
    cursor: pointer;
}

.gameNav a:hover {
    background: #3F5864; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 6%, #ffffff 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 6%,#ffffff 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7B9FB2 6%,#3F5864 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.stat-list {
    text-align: center;
    margin-top: 0;
}

.stat-list li {
    font-size: 16px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.fa {
    color: white;
}

.game-content p {
    font-size: 16px;
    padding-left: 5px;
    color: white;
}

.game-content h1 {
    color: white;
}

.game-content hr {
    border: 1px solid black;
}

@keyframes fadeInContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.game-content {
    animation: 1s ease-out fadeInContent;
    background-color: #37474f;
}

.buy-panel {
    height: 200px;
    background-color: #37474f;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px;
    transition: box-shadow 0.5s;
}

.buy-panel:hover {
    transition: box-shadow 0.5s;
    box-shadow: 0px 0px 0px 0px;
}

.buy-panel-right {
    margin-right: 40px;
}

.buy-panel h2 {
    font-size: 18px;
    text-align: center;
    color: white;
}

.buy-panel p {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.buy-panel hr {
    border: 1px solid black;

}

.buy-btn {
    color: black;
    font-size: 14px;
    transition: border 0.2s;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.buy-btn:hover {
    transition: background-color 0.4s, color 0.4s, border 0.4s;
    background-color: #37474f;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.buy-btn-disabled {
    color: black;
    font-size: 14px;
    transition: border 0.2s;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: not-allowed;
    opacity: 0.5;
}

.col-btn {
    position: relative;
    text-align: center;
    margin-top: 8px;
}

.navbar {
    position: fixed;
    background-color: #37474f;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 100;
}

.navbar a {
    font-size: 16px;
}

.navbar li {
    display: inline-block;
}

.fa {
    margin: 0;
    padding: 20px;
    padding-right: 0;
}

.normal-btn {
    float: left;
    justify-content: left;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 12px;
    padding: 20px;
    transition: color 0.2s background-color 0.5s;
}

.normal-btn:hover {
    background-color: #5A7482;
    transition: background-color 0.4s;
}

.user-btn {
    float: left;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 12px;
    padding: 20px;
    transition: background-color 0.5s;
}

.user-btn:hover {
    background-color: #5A7482;
    transition: background-color 0.4s;
}

.pre-overview {
    background: #37474f;
    text-decoration: none;
    color: #444;
    margin: 20px;
    text-align: center;
    height: 350px;
}

.pre-overview p {
    color: white;
}

.overview {
    background: #37474f;
    text-decoration: none;
    color: #444;
    margin: 20px;
    text-align: center;
    height: 350px;
}

.overview p {
    color: white;
    text-shadow: 2px 2px 10px black;
}

.pop-overlay {
    display: block;
    margin: auto;
    width: 300px;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    top: -200px;
    bottom: 900px;
    background-color: #345C70;
    border: 3px solid black;
    z-index: 1;
}

.pop-overlay p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.crate-overlay {
    display: block;
    margin: auto;
    width: 500px;
    height: 400px;
    position: fixed;
    left:0;
    right: 0;
    top: 40px;
    bottom: 0;
    background-color: #345C70;
    border: 2px solid black;
    z-index: 1;
}

.crate-overlay p {
    color: white;
    text-shadow: 1px 1px 3px black;
}

.crate-overlay h2 {
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.crate-overlay button {
    margin-top: 30px;
}

#crate-reward {
    font-size: 22px;
    color: #69B369;
    margin-bottom: 100px;
}

/* Small screens */
@media (max-width: 575px) {
    main {
        padding-top: 50px;
    }
    
    .navbar {
        position: fixed;
        background-color: #37474f;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        top: 0;
        z-index: 100;
    }

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-decoration: none;
        font-size: 14px;
        padding-top: 15px;
    }
    .col-center {
        max-width: 100%;
    }
    .col-center-t {
    max-width: 100%;
    text-align: center;
    }

    .main-form-btn {
    margin-top: 20px;
    color:black;
    height: 50px;
    width: 15%;
    font-size: 16px;
    }

    /* GAME CSS */
    .game-window {
        width: 100%;
        height: 1200px;
    }

    .gameNav a {
        color: white;
        font-size: 13px;
        border: 2px solid black;
        text-align: center;
        font-weight: bold;
    }
    .stat-list li {
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        
    }

    .empire {
        width: 350px;
        height: 90%;
    }

    .pre-overview {
        height: 800px;
    }

    .overview {
        width: 70%;
        margin-left: 70px;
    }

    .buy-panel {
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-left: 100px;
        margin-bottom: 5px;
    }

    .e-stats-2 {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .empire-titles {
        visibility: hidden;
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    .mobile-hide {
        visibility: hidden;
    }

    .empire-header {
        font-size: 14px;
        display: inline-block;
    }

    .crate-overlay {
        width: 300px;
        height: 300px;
    }

}
/* Medium screens */
@media all and (min-width: 600px) {

}

/* Large screens */
@media all and (max-width: 800px) {
    .col-center {
        max-width: 100%;
        text-align: center;
    }
}